body {
    margin: 0;
    font-family: 'Vazirmatn', sans-serif;
    background-color: #f8f9fa;
    direction: rtl;
}
button,
input,
select,
textarea {
    font-family: inherit; /* این دستور فونت را از والد به ارث می‌برد */
}